body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
}
// delete above stuff  later

// variables --------------------
@import './scss/variables.scss';

//function
@import './scss/function';

// components
@import './scss/footer_t';

// themes
@import './scss/ThemeOne.scss';
@import './scss/info-seg.scss';
