body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// variables --------------------
@import './scss/variables.scss';

//function
@import './scss/function';

// components
// @import './scss/footer_t';

// themes
@import './scss/ThemeOne.scss';
@import './scss/theme2.scss';
@import './scss/report.scss';
