.info-page {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 25px;
}

.genre-block {
  background-color: coral;
}

.artist-block {
  background-color: gainsboro;
}

.feature-block {
}
