// The root svg element of the vector map.
.map-svg {
  svg {
    stroke: #132238;
    height: 500px;
    width: 100%;
    // All layers are just path elements.
    path {
      fill: #364e68;
      cursor: pointer;

      // When a layer is hovered.
      &:hover {
        fill: #98ccd3;
      }

      // When a layer is focused.
      &:focus {
        fill: #ebf0f6;
      }

      // When a layer is 'checked' (via 'aria-checked').
      &[aria-checked='true'] {
        fill: #8f1537;
      }
      &[available='true'] {
        fill: #1db954;
      }

      // &[has_top_chart='false'] {
      //   fill: lightsalmon;
      //   cursor: not-allowed;
      // }
      &[available='false'] {
        fill: grey;
        cursor: not-allowed;
      }

      // When a layer is 'selected' (via 'aria-current').
      &[aria-current='true'] {
        fill: #a275e3;
      }

      &[candidate='true'] {
        fill: orange;
      }
    }
  }
}

.search-input {
  border-bottom: 2px salmon solid;
  height: 30px;
  font-size: 25px;
  padding: 10px;
}
