@mixin hover-show($selector) {
  #{$selector} {
    opacity: 0;
  }
  &:hover {
    #{$selector} {
      opacity: 1;
    }
  }
}

@mixin hover-self-offset($x, $y) {
  &:hover {
    transform: translateX($x) translateY($y);
  }
}

@mixin hover-offset($selector, $x, $y) {
  &:hover {
    #{$selector} {
      transform: translateX($x) translateY($y);
    }
  }
}

.hide {
  visibility: hidden;
}

#root {
  &::before {
    content: '';
    z-index: -99;
    background: linear-gradient(transparent, #000);
    width: 100vw;
    height: 100%;
    position: fixed;
  }
  &::after {
    position: fixed;
    content: '';
    width: 100vw;
    height: 100%;
    z-index: -100;
    background: linear-gradient(90deg, #c074b2, #8ab5e8);
  }
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.map-svg {
  background: none;

  & > path {
    stroke: rgba(22, 22, 22, 0.473);
    outline: none;
    fill: rgba(36, 36, 36, 0.1);
    &[available='true'] {
      fill: #1ed75f59;
      &:hover {
        cursor: pointer;
        fill: #1ed760;
      }
    }
    &[available='false'] {
      fill: rgba(36, 36, 36, 0.1);
      cursor: default !important;
    }

    &[candidate='true'] {
      fill: orange;
    }
    // // When a layer is 'selected' (via 'aria-current').
    // &[aria-current='true'] {
    //   fill: #a275e3;
    // }
    // // When a layer is 'checked' (via 'aria-checked').
    &[aria-checked='true'] {
      fill: #4dff8b !important;
    }
    &[aria-checked='true'][available='false'] {
      fill: rgba(245, 245, 245, 0.308) !important;
    }
  }
}

.search-input {
  height: 30px;
  font-size: 25px;
  user-select: none;
  border: none !important;
  caret-color: #54c945;
  background: #31313199;
  color: white;
  padding: 11px 15px 10px !important;
  text-align: end;
  width: 25vw;
  @media (max-width: 1450px) {
    right: 3vw;
  }
  outline: none;
  border-radius: 15px;
  backdrop-filter: saturate(306%) blur(4px);
  position: fixed;
  top: 3vw;
  right: 5vw;
}

.tooltip {
  @include hover-self-offset(20px, 30px);
  backdrop-filter: saturate(306%) blur(4px);
  border-radius: 15px;
  font-size: 25px;
  padding: 8px 15px 13px;
  height: 30px;
  position: fixed;
  right: 3vw;
  width: 25vw;
  top: 3vw;
  background: #ffffffc9;
  text-align: end;
  &.show + .search-input {
    visibility: hidden;
  }
}
.interactive-map,
.info-page {
  align-items: center;
  width: 100vw;
  padding: 25px 0;
}
