$spotify-green: #1db954;
$disabled-gray: grey;
$spotify-black: #191414; // The root svg element of the vector map.
.map-svg {
  stroke: #132238;
  height: 500px;
  width: 100%;
  // All layers are just path elements.
  // path {
  //   fill: #364e68;
  //   cursor: pointer;
  //   &[available='true'] {
  //     fill: $spotify-green;
  //   }
  //   &[available='false'] {
  //     fill: $disabled-gray;
  //     cursor: not-allowed;
  //   }
  //   &[candidate='true'] {
  //     fill: orange;
  //   }

  //   // &:hover {
  //   //   fill: #98ccd3;
  //   // }
  //   // When a layer is 'selected' (via 'aria-current').
  //   &[aria-current='true'] {
  //     fill: #a275e3;
  //   }
  //   // // When a layer is 'checked' (via 'aria-checked').
  //   &[aria-checked='true'] {
  //     fill: #8f1537;
  //   }
  // }
}
