#report-page-root {
  display: flex;
  width: 100vw;
  height: 100%;
  flex-direction: column;
  padding-bottom: 200px;
}

#report-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.artists-section {
  a {
    @include clean-anchor();
  }
}

.artist-name {
  font-weight: bolder;
  background: black;
  opacity: 0.8;
  color: white;
  padding: 10px 5px 0px 5px;
  margin-right: 5px;
}

.artist-region-count {
  font-size: 130%;
  font-weight: bold;
}

.artist-total-count {
  font-size: 130%;
  color: $green;
  font-weight: bold;
}
