@mixin hover-show($selector) {
  #{$selector} {
    opacity: 0;
  }
  &:hover {
    #{$selector} {
      opacity: 1;
    }
  }
}
@mixin hover-hide($selector) {
  #{$selector} {
    opacity: 1;
  }
  &:hover {
    #{$selector} {
      opacity: 0 !important;
    }
  }
}

@mixin hover-self-offset($x, $y) {
  &:hover {
    transform: translateX($x) translateY($y);
  }
}

@mixin hover-offset($selector, $x, $y) {
  &:hover {
    #{$selector} {
      transform: translateX($x) translateY($y);
    }
  }
}

.hide {
  visibility: hidden;
}

body {
  overflow-x: hidden;
}

#root {
  &::before {
    content: '';
    z-index: -99;
    background: linear-gradient(transparent, #000);
    width: 100vw;
    height: 100%;
    position: fixed;
  }
  &::after {
    position: fixed;
    content: '';
    width: 100vw;
    height: 100%;
    z-index: -100;
    background: linear-gradient(90deg, #c074b2, #8ab5e8);
  }
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.map-svg {
  background: none;
  transform: translate(12vw, -14vw);
  transition: cubic-bezier(0, 0, 0.33, 1.07) 0.8s;
  width: 90vw !important;
  height: auto !important;
  & > path {
    stroke: rgba(22, 22, 22, 0.473);
    outline: none;
    fill: rgba(36, 36, 36, 0.1);
    &[available='true'] {
      fill: #1ed75f59;
      &:hover {
        cursor: pointer;
        fill: #1ed760;
      }
    }
    &[available='false'] {
      fill: rgba(36, 36, 36, 0.1);
      cursor: default !important;
    }

    &[candidate='true'] {
      fill: #4dff8b;
    }
    // // When a layer is 'selected' (via 'aria-current').
    // &[aria-current='true'] {
    //   fill: #a275e3;
    // }
    // // When a layer is 'checked' (via 'aria-checked').
    &[aria-checked='true'] {
      fill: #4dff8b !important;
    }
    &[aria-checked='true'][available='false'] {
      fill: rgba(245, 245, 245, 0.308) !important;
    }
  }
}

#chartjs-tooltip {
  background-color: salmon;
}

.search-input {
  height: 30px;
  font-size: 25px;
  user-select: none;
  border: none !important;
  caret-color: #54c945;
  background: #31313199;
  color: white;
  padding: 11px 15px 10px !important;
  text-align: end;
  width: 20vw;
  outline: none;
  border-radius: 15px;
  backdrop-filter: saturate(306%) blur(4px);
  position: fixed;
  top: 3vw;
  left: 3vw;
}
.auto-compl {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: calc(5vh + 55px);
  left: 3vw;
}

.auto-compl-item:first-of-type {
  color: salmon;
  transform: scaleY(1.2);
}

@mixin auto-compl-item {
  padding: 10px;
}
.tooltip {
  @include hover-self-offset(20px, 30px);
  backdrop-filter: saturate(306%) blur(4px);
  border-radius: 15px;
  font-size: 25px;
  padding: 8px 15px 13px;
  height: 30px;
  position: fixed;
  left: 3vw;
  width: 20vw;
  top: 3vw;
  background: #ffffffc9;
  text-align: end;
  &.show + .search-input {
    visibility: hidden;
  }
}

.interactive-map {
  height: 100vh;
  overflow: hidden;
}
.interactive-map,
.info-page {
  align-items: center;
  width: 100vw;
  padding: 25px 0;
}

.txt-block {
  &::before {
    content: 'Number of songs on board';
    position: fixed;
    left: calc(9vw - 10px);
    width: fit-content;
    top: calc(14vw - 25px);
    color: #000000bf;
    background: linear-gradient(15deg, #d8d8d8, #dcbfbf);
    padding: 5px 20px;
    border-radius: 20px 5px 5px 5px;
    z-index: 100;
    font-size: 15px;
    font-weight: 500;
  }
  &::after {
    content: 'Top Genre';
    position: relative;
    left: calc(10vw - 15px);
    width: fit-content;
    top: calc(17vw - 25px);
    color: #000000bf;
    background: linear-gradient(15deg, #dcbfbf, #d8d8d8);
    padding: 5px 20px;
    border-radius: 20px 5px 5px 5px;
    z-index: 100;
    font-size: 15px;
    font-weight: 500;
  }
  display: flex;
  position: fixed;
  left: 0;
  top: 15vh;
  flex-direction: column;
}
.artist-block {
  // transform: translate(9vw, -7vw);
  position: fixed;
  left: 9vw;
  top: 14vw;
  background: linear-gradient(-29deg, #00000033, #000000d6);
  color: white;
  box-shadow: 10px 10px 12px 1px #0000004a;
  // padding: 15px 20px;
  border-radius: 5px 30px 5px 5px;
  // width: 15vw;
  min-width: 210px;
  text-align: end;
  &:hover > a:first-child {
    // padding: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    transition: ease 0.08s;
  }
  & > a {
    transition: ease 0.08s;
    border-radius: 5px;
    padding: 1px 5px 1px 80px;
    display: grid;
    grid-template-columns: 2fr 1fr 70px;
    text-decoration: none;
    color: whitesmoke;
    // align-items: center;
    justify-items: end;

    .count-block {
      display: flex;
      align-items: center;
      right: -20px;
      grid-column: 2 /3;
      justify-self: start !important;
      position: relative;
      left: -10px;
    }
    // 进度条
    .count-bar {
      content: '';
      border-radius: 3px;
      height: 5px;
      width: 33px;
      background-color: #fffe;
    }
    .song-count {
      position: relative;
      left: 5px;
    }
    .spotify-logo {
      // position: absolute;
      // right: -20px;
      // opacity: 1 !important;
      width: 25px;
      // transition-delay: 0.1s;
      // margin-right: 10px;
      fill: whitesmoke;
      position: relative;
      right: 24px;
      grid-column: 3;
      grid-row: 1 /2;
    }
    .singer-name {
      margin-right: 30px;
      grid-column: 1 / 2;
    }
    &:first-child {
      padding-top: 10px;
      padding-bottom: 10px;
      &::after {
        content: 'No.1';
      }
    }
    &:nth-child(2)::after {
      content: 'No.2';
    }
    &:nth-child(3)::after {
      content: 'No.3';
    }
    &:nth-child(1)::after,
    &:nth-child(2)::after,
    &:nth-child(3)::after {
      grid-column: 3;
      grid-row: 1 / 2;
      transition: ease-in 0.18s;
      position: relative;
      right: 20px;
      padding: 1px 3px 0px 3px;
      height: 21px;
      text-align: center;
      text-justify: distribute;
      color: #6b4712;
      border-radius: 3px;
      background: linear-gradient(45deg, #fcba5d, #fcdaa4);
      font-size: 13px;
    }
    &:hover {
      background-color: #1e3264;
      padding-top: 10px !important;
      padding-bottom: 10px !important;
      z-index: 10000;
      &:nth-child(1)::after,
      &:nth-child(2)::after,
      &:nth-child(3)::after {
        opacity: 0;
      }
      &:first-child {
        border-radius: 5px 30px 0 0;
      }
      .spotify-logo {
        // position: absolute;
        background: #1e3264;
        // padding: 9px 12px 8px 9px;
        // right: -32px;
        // transform: translateY(-10px);
        opacity: 1;
        border-radius: 0px 5px 5px 0px;
      }
    }
    @include hover-show('.spotify-logo');
  }
}
.genre-block {
  backdrop-filter: blur(4px);
  z-index: 100;
  min-width: 140px;
  text-transform: uppercase;
  position: relative;
  left: 2vw;
  top: 16vw;
  // transform: translate(2vw, 14vw);
  width: 10vw;
  background: linear-gradient(-39deg, #753c4185, #ffffff14);
  color: white;
  box-shadow: 10px 10px 9px 4px #0000004a;
  padding: 15px 20px;
  border-radius: 30px 5px 5px 5px;
}
.bubble-genre {
  position: absolute;
}
.no-data-tip {
  position: fixed;
  left: 10vw;
  top: 21vw;
  background: linear-gradient(-29deg, #00000000, #0000004f);
  padding: 35px 30px;
  border-radius: 5px 5px 5px 30px;
  color: #ffffffb8;
  font-size: 20px;
}

.chartjs-render-monitor {
  left: 30vw !important;
  top: -8vw !important;
  position: relative;
  width: 60vw !important;
}

$arrow-width: 5vw;
.click-scroll {
  position: fixed;
  left: 47.5vw;
  background: #00000052;
  padding: 20px 30px;
  bottom: 0;
  cursor: pointer;
  color: white;
  border-radius: 5px 5px 0 0;
}
