.hide {
  visibility: hidden;
}
body {
  overflow-x: hidden;
}

#map-page-root {
  height: 100%;

  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  // height: 100%;

  // 所有可视化内容都在 root 下面, 作为一个 list item
  // & > * {
  //   margin: 0 0 5vh 0;
  //   max-height: 100vh;
  // }
  // gradient layer to darken the atmosphere
  &::before {
    content: '';
    z-index: -99;
    background: linear-gradient(transparent, #000000c7);
    width: 100vw;
    height: 100%;
    position: fixed;
  }
  // left to right gradient base tone
  &::after {
    position: fixed;
    content: '';
    width: 100vw;
    height: 100%;
    z-index: -100;
    background: linear-gradient(90deg, #c074b2, #8ab5e8);
  }
}
.map-svg {
  background: none;
  transform: translate(16vw, -18vw) scale(0.9);
  transition: cubic-bezier(0, 0, 0.33, 1.07) 0.8s;
  width: 90vw !important;
  height: auto !important;
  & > path {
    stroke: rgba(22, 22, 22, 0.473);
    outline: none;
    fill: rgba(36, 36, 36, 0.1);
    &[available='true'] {
      fill: #1ed75f59;
      &:hover {
        cursor: pointer;
        fill: #1ed760;
      }
    }
    &[available='false'] {
      fill: rgba(36, 36, 36, 0.1);
      cursor: default !important;
    }

    &[candidate='true'] {
      fill: #4dff8b;
    }
    &[aria-checked='true'] {
      fill: #4dff8b !important;
    }
    &[aria-checked='true'][available='false'] {
      fill: rgba(245, 245, 245, 0.308) !important;
    }
  }
}

.search-input {
  font-size: 25px;
  user-select: none;
  border: none !important;
  background: #31313199;
  color: white;
  padding: 11px 15px 10px !important;
  text-align: end;
  width: 20vw;
  outline: none;
  border-radius: 15px;
  backdrop-filter: saturate(306%) blur(4px);
  position: fixed;
  top: 3vw;
  left: 3vw;
}

.auto-compl {
  z-index: 2;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: calc(5vh + 45px);
  left: 3vw;
  background: white;
  padding: 11px 15px 10px !important;
  text-align: end;
  width: 20vw;
  outline: none;
  background: linear-gradient(0deg, #31313199, #252525e3);
  color: white;
  backdrop-filter: saturate(306%) blur(4px);
  position: fixed;
  border-radius: 0 0 15px 15px;
  & > * {
    padding: 5px;
  }
}

.tooltip {
  @include hover-self-offset(20px, 30px);
  backdrop-filter: saturate(306%) blur(4px);
  border-radius: 15px;
  font-size: 25px;
  padding: 8px 15px 13px;
  position: fixed;
  left: 3vw;
  width: 20vw;
  top: 3vw;
  background: #ffffffc9;
  text-align: end;
  &.show + .search-input {
    visibility: hidden;
  }
}

.interactive-map {
  height: 100vh;
  align-items: center;
  width: 100vw;
  padding: 25px 0;
  overflow: hidden;
}

.txt-block {
  &::before {
    content: 'Number of songs on board';
    position: fixed;
    left: calc(3vw - 10px);
    width: fit-content;
    top: calc(18vw - 25px);
    color: #000000bf;
    background: linear-gradient(15deg, #d8d8d8, #dcbfbf);
    padding: 5px 20px;
    border-radius: 20px 5px 5px 5px;
    z-index: 100;
    font-size: 15px;
    font-weight: 500;
  }
  &::after {
    content: 'Top Genre';
    position: relative;
    left: calc(10vw - 15px);
    width: fit-content;
    top: calc(17vw - 25px);
    color: #000000bf;
    background: linear-gradient(15deg, #dcbfbf, #d8d8d8);
    padding: 5px 20px;
    border-radius: 20px 5px 5px 5px;
    z-index: 100;
    font-size: 15px;
    font-weight: 500;
    display: none; ////////////////////////////
  }
  display: flex;
  position: fixed;
  left: 0;
  top: 15vh;
  flex-direction: column;
}

.genre-block {
  backdrop-filter: blur(4px);
  z-index: 100;
  min-width: 140px;
  text-transform: uppercase;
  position: relative;
  left: 2vw;
  top: 16vw;
  // transform: translate(2vw, 14vw);
  width: 10vw;
  background: linear-gradient(-39deg, #753c4185, #ffffff14);
  color: white;
  box-shadow: 10px 10px 9px 4px #0000004a;
  padding: 15px 20px;
  border-radius: 30px 5px 5px 5px;
  display: none; ////////////////////////////////////
}

.no-data-tip {
  position: fixed;
  left: 10vw;
  top: 21vw;
  background: linear-gradient(-29deg, #00000000, #0000004f);
  padding: 35px 30px;
  border-radius: 5px 5px 5px 30px;
  color: #ffffffb8;
  font-size: 20px;
}

$arrow-width: 5vw;
$border-dist: 11vw;
.click-scroll {
  position: fixed;
  left: calc(50vw - #{$border-dist});
  background: linear-gradient(-180deg, #8b8b8b69, #5252525c);
  padding: 20px 0px;
  bottom: 0;
  cursor: pointer;
  color: white;
  border-radius: 5px 0 0 0;
  text-align: center;
  width: calc(#{$border-dist} / 2);
  z-index: 100;
  margin: 0 !important;
  // semi transparent mask
  &::before {
    content: '';
    pointer-events: none;
    width: 100vw;
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 30vh;
    background: linear-gradient(0deg, #000000ba, #00000045, transparent);
  }
}

.click-scroll-down {
  z-index: 100;
  margin: 0 !important;
  text-align: center;
  width: calc(#{$border-dist} / 2);
  position: fixed;
  left: calc(50vw - (#{$border-dist} / 2));
  background: linear-gradient(-180deg, #1bb35a, #106b36fd);
  padding: 20px 30px;
  bottom: 0;
  cursor: pointer;
  color: white;
  border-radius: 0 5px 0 0;
}

.link {
  z-index: 99999;
  position: absolute;
}
