.hide {
  visibility: hidden;
}

body {
  overflow-x: hidden;
  font-family: 'Maven Pro', sans-serif;
}

#root {
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  // 所有可视化内容都在 root 下面, 作为一个 list item
  & > * {
    margin: 0 0 5vh 0;
    max-height: 100vh;
  }
  // gradient layer to darken the atmosphere
  &::before {
    content: '';
    z-index: -99;
    background: linear-gradient(transparent, #000000c7);
    width: 100vw;
    height: 100%;
    position: fixed;
  }
  // left to right gradient base tone
  &::after {
    position: fixed;
    content: '';
    width: 100vw;
    height: 100%;
    z-index: -100;
    background: linear-gradient(90deg, #c074b2, #8ab5e8);
  }
}
.map-svg {
  background: none;
  transform: translate(16vw, -18vw) scale(0.9);
  transition: cubic-bezier(0, 0, 0.33, 1.07) 0.8s;
  width: 90vw !important;
  height: auto !important;
  & > path {
    stroke: rgba(22, 22, 22, 0.473);
    outline: none;
    fill: rgba(36, 36, 36, 0.1);
    &[available='true'] {
      fill: #1ed75f59;
      &:hover {
        cursor: pointer;
        fill: #1ed760;
      }
    }
    &[available='false'] {
      fill: rgba(36, 36, 36, 0.1);
      cursor: default !important;
    }

    &[candidate='true'] {
      fill: #4dff8b;
    }
    // // When a layer is 'selected' (via 'aria-current').
    // &[aria-current='true'] {
    //   fill: #a275e3;
    // }
    // // When a layer is 'checked' (via 'aria-checked').
    &[aria-checked='true'] {
      fill: #4dff8b !important;
    }
    &[aria-checked='true'][available='false'] {
      fill: rgba(245, 245, 245, 0.308) !important;
    }
  }
}

#chartjs-tooltip {
  background-color: salmon;
}

.search-input {
  height: 30px;
  font-size: 25px;
  user-select: none;
  border: none !important;
  caret-color: #54c945;
  background: #31313199;
  color: white;
  padding: 11px 15px 10px !important;
  text-align: end;
  width: 20vw;
  outline: none;
  border-radius: 15px;
  backdrop-filter: saturate(306%) blur(4px);
  position: fixed;
  top: 3vw;
  left: 3vw;
  z-index: 101;
}
.auto-compl {
  z-index: 100;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: calc(5vh + 45px);
  left: 3vw;
  background: white;
  padding: 11px 15px 10px !important;
  text-align: end;
  width: 20vw;
  outline: none;
  background: linear-gradient(0deg, #31313199, #252525e3);
  color: white;
  backdrop-filter: saturate(306%) blur(4px);
  position: fixed;
  border-radius: 0 0 15px 15px;
  & > * {
    padding: 5px;
  }
}

.auto-compl-item:first-of-type {
  color: salmon;
  transform: scaleY(1.2);
}

@mixin auto-compl-item {
  padding: 10px;
}
.tooltip {
  @include hover-self-offset(20px, 30px);
  backdrop-filter: saturate(306%) blur(4px);
  border-radius: 15px;
  font-size: 25px;
  padding: 8px 15px 13px;
  height: 30px;
  position: fixed;
  left: 3vw;
  width: 20vw;
  top: 3vw;
  background: #ffffffc9;
  text-align: end;
  &.show + .search-input {
    visibility: hidden;
  }
}

.interactive-map {
  height: 100vh;
  align-items: center;
  width: 100vw;
  padding: 25px 0;
  overflow: hidden;
}

.txt-block {
  &::before {
    content: 'Number of songs on board';
    position: fixed;
    left: calc(3vw - 10px);
    width: fit-content;
    top: calc(18vw - 25px);
    color: #000000bf;
    background: linear-gradient(15deg, #d8d8d8, #dcbfbf);
    padding: 5px 20px;
    border-radius: 20px 5px 5px 5px;
    z-index: 100;
    font-size: 15px;
    font-weight: 500;
  }
  &::after {
    content: 'Top Genre';
    position: relative;
    left: calc(10vw - 15px);
    width: fit-content;
    top: calc(17vw - 25px);
    color: #000000bf;
    background: linear-gradient(15deg, #dcbfbf, #d8d8d8);
    padding: 5px 20px;
    border-radius: 20px 5px 5px 5px;
    z-index: 100;
    font-size: 15px;
    font-weight: 500;
    display: none; ////////////////////////////
  }
  display: flex;
  position: fixed;
  left: 0;
  top: 15vh;
  flex-direction: column;
}

.artist-block {
  // transform: translate(9vw, -7vw);
  position: fixed;
  // left: 9vw;
  // top: 14vw;
  top: 18vw;
  left: 3vw;
  background: linear-gradient(-29deg, #00000033, #000000d6);
  color: white;
  box-shadow: 10px 10px 12px 1px #0000004a;
  // padding: 15px 20px;
  border-radius: 5px 30px 5px 5px;
  // width: 15vw;
  min-width: 210px;
  text-align: end;
  &:hover > a:first-child {
    // padding: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    transition: ease 0.08s;
  }
  & > a {
    transition: ease 0.08s;
    // border-radius: 5px;
    padding: 1px 5px 1px 15px;
    display: grid;
    grid-template-columns: 2fr 1fr 70px;
    text-decoration: none;
    color: whitesmoke;
    // align-items: center;
    justify-items: end;

    .count-block {
      display: flex;
      align-items: center;
      right: -20px;
      grid-column: 2 /3;
      justify-self: start !important;
      position: relative;
      left: -10px;
    }
    // 进度条
    .count-bar {
      content: '';
      border-radius: 3px;
      height: 5px;
      width: 33px;
      background-color: #fffe;
    }
    .song-count {
      position: relative;
      left: 5px;
    }
    .spotify-logo {
      // position: absolute;
      // right: -20px;
      // opacity: 1 !important;
      width: 25px;
      // transition-delay: 0.1s;
      // margin-right: 10px;
      fill: whitesmoke;
      position: relative;
      right: 24px;
      grid-column: 3;
      grid-row: 1 /2;
    }
    .singer-name {
      margin-right: 30px;
      grid-column: 1 / 2;
    }
    &:first-child {
      padding-top: 10px;
      padding-bottom: 10px;
      &::after {
        content: 'No.1';
      }
    }
    &:nth-child(2)::after {
      content: 'No.2';
    }
    &:nth-child(3)::after {
      content: 'No.3';
    }
    &:nth-child(1)::after,
    &:nth-child(2)::after,
    &:nth-child(3)::after {
      grid-column: 3;
      grid-row: 1 / 2;
      transition: ease-in 0.18s;
      position: relative;
      right: 20px;
      padding: 1px 3px 0px 3px;
      height: 21px;
      text-align: center;
      text-justify: distribute;
      color: #6b4712;
      border-radius: 3px;
      background: linear-gradient(45deg, #fcba5d, #fcdaa4);
      font-size: 13px;
    }
    &:hover {
      background-color: #1e3264;
      padding-top: 10px !important;
      padding-bottom: 10px !important;
      z-index: 10000;
      &:nth-child(1)::after,
      &:nth-child(2)::after,
      &:nth-child(3)::after {
        opacity: 0;
      }
      &:first-child {
        border-radius: 5px 30px 0 0;
      }
      .spotify-logo {
        // position: absolute;
        background: #1e3264;
        // padding: 9px 12px 8px 9px;
        // right: -32px;
        // transform: translateY(-10px);
        opacity: 1;
        border-radius: 0px 5px 5px 0px;
      }
    }
    @include hover-show('.spotify-logo');
  }
}
.genre-block {
  backdrop-filter: blur(4px);
  z-index: 100;
  min-width: 140px;
  text-transform: uppercase;
  position: relative;
  left: 2vw;
  top: 16vw;
  // transform: translate(2vw, 14vw);
  width: 10vw;
  background: linear-gradient(-39deg, #753c4185, #ffffff14);
  color: white;
  box-shadow: 10px 10px 9px 4px #0000004a;
  padding: 15px 20px;
  border-radius: 30px 5px 5px 5px;
  display: none; ////////////////////////////////////
}
.bubble-genre {
  position: relative;
  left: 39vw;
  top: 10vw;
  transform: scale(1.5);
}
.no-data-tip {
  position: fixed;
  left: 10vw;
  top: 21vw;
  background: linear-gradient(-29deg, #00000000, #0000004f);
  padding: 35px 30px;
  border-radius: 5px 5px 5px 30px;
  color: #ffffffb8;
  font-size: 20px;
}

.chartjs-render-monitor {
  left: 15.5vw !important;
  top: -13vh !important;
  position: relative;
  width: 60vw !important;
  max-height: 50vh !important;
}

$arrow-width: 5vw;
$border-dist: 11vw;
.click-scroll {
  position: fixed;
  left: calc(50vw - #{$border-dist});
  background: linear-gradient(-180deg, #8b8b8b69, #5252525c);
  padding: 20px 0px;
  bottom: 0;
  cursor: pointer;
  color: white;
  border-radius: 5px 0 0 0;
  text-align: center;
  width: calc(#{$border-dist} / 2);
  z-index: 100;
  margin: 0 !important;
  // semi transparent mask
  &::before {
    content: '';
    pointer-events: none;
    width: 100vw;
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 30vh;
    background: linear-gradient(0deg, #000000ba, #00000045, transparent);
  }
}

.click-scroll-down {
  z-index: 100;
  margin: 0 !important;
  text-align: center;
  width: calc(#{$border-dist} / 2);
  position: fixed;
  left: calc(50vw - (#{$border-dist} / 2));
  background: linear-gradient(-180deg, #1bb35a, #106b36fd);
  padding: 20px 30px;
  bottom: 0;
  cursor: pointer;
  color: white;
  border-radius: 0 5px 0 0;
}

#chartjs-tooltip {
  background-color: white !important;
  font-size: 85%;
  border-radius: 5px;
}

.timestamp {
  position: fixed;
  bottom: 0px;
  font-size: smaller;
  background: white;
  padding: 2px 10px;
  right: 0px;
  z-index: 99999;
  opacity: 0.25;
  margin-bottom: 0px !important;
  font-style: italic;
}

.link {
  z-index: 99999;
  position: absolute;
}
